html {
    height: 100%;
}
body {
    background: #fd2f6c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.main ,.notification{
    width: 60%;
    border: 1px solid #fff ;
    padding: 2rem;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.notification {
    flex-direction: column;
    padding: 0 1rem;
}

.noti {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin-right: 5px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }

.reply i {
    font-size: 20px;
}

.reply:hover {
    font-size: 25px;
    transition: 0.5s;

}

@media (max-width:800px) {
    .main,.notification {
        width: 100%;
        padding:20px 10px;
    }
}